.father {
  height: 100%;
  background-color: bisque;
}

.container {
  padding: 100px 100px 0px;
  height: 100%;
  text-align: center;
}

.grid__content {
  padding: 20px;
  border: 5px dashed #333;
}

.grid {
  display: grid;
  grid-template: auto auto / 1fr 1fr minmax(100px, 200px) 1fr 1fr;
}

