.father {
  height: 100%;
}

.container {
  margin: 100px 100px 0px;
  border: 15px solid #333;
  height: 300px;
}

.flexbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.flexbox_elem {
  border: 10px solid #90e5f6;
}

.flexbox__elem--content {
  background-color: #873b3b;
  padding: 50px;
}