.father {
  padding: 100px 100px 30vh;
  height: 100vh;
}
.block {
  height: 100%;
  background: url(shopping_sale_flame_fire_icon_250148.ico) 50% no-repeat, linear-gradient(#333, #37a706);
}

/* .block {
  height: 100%;
  background: url(shopping_sale_flame_fire_icon_250148.ico), linear-gradient(#333, #37a706);
  background-repeat: no-repeat;
  background-position: 50%;
} */