.main {
  height: 100%;
}

.container {
  padding: 50px;
}

.title {
  position: relative;
  display: inline-flex;
  align-items: center;
}

.title::before {
  content: "";
  position: absolute;
  left: -20px;
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 2px;
  background-color: blue;
}

.title::after {
  content: "";
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 2px;
  position: absolute;
  right: -20px;
}